:root {
  --pink: rgba(255, 71, 175, 1);
  --magenta: rgba(214, 45, 138, 1);
  --red: rgba(212, 47, 54, 1);
  --cream: rgb(255, 251, 239);
  --blue: rgba(66, 164, 215, 1);
  --teal: rgba(53, 190, 183, 1);
  --green: rgba(177, 193, 54, 1);
  --dkgreen: rgba(98, 179, 77, 1);
  --yellow: rgba(237, 191, 36, 1);
  --purple: rgba(105, 72, 151, 1);
  --orange: rgba(235, 130, 49, 1);
}

:root {
  --dracula: rgba(45, 52, 54,1.0);
  --whisper: rgba(99, 110, 114,1.0);
  --prunus: rgba(232, 67, 147,1.0);
  --pico: rgba(253, 121, 168,1.0);
  --exodus: rgba(108, 92, 231,1.0);
  --shy: rgba(162, 155, 254,1.0);
  --chi: rgba(214, 48, 49,1.0);
  --glamour: rgba(255, 118, 117,1.0);
  --electron: rgba(9, 132, 227,1.0);
  --darner: rgba(116, 185, 255,1.0);
  --orangeville: rgba(225, 112, 85,1.0);
  --date: rgba(250, 177, 160,1.0);
  --robin: rgba(0, 206, 201,1.0);
  --faded: rgba(129, 236, 236,1.0);
  --yarrow: rgba(253, 203, 110,1.0);
  --lemon: rgba(255, 234, 167,1.0);
  --mint: rgba(0, 184, 148,1.0);
  --greenish: rgba(85, 239, 196,1.0);
  background-color: var(--dracula);
  
}

.container {
  background-color: var(--dracula);
}
/* -------------------- NAVBAR ------------------------ */
.navbar-container {
  background-color: var(--teal);
}

.navbar-name {
  color: var(--cream);
  font-size: 40px !important;
}

.nav-btn {
  color: var(--cream);
  font-size: 20px !important;
  background-color: var(--blue) !important;
  width: 120px;
  height: 55px !important;
  margin-left: 20px;
}

.nav-btn:hover {
  box-shadow: -1px 3px 20px var(--blue);
  transition: transform 100ms;
}

/* -------------------- ABOUT ------------------------ */
.about-container{
  margin-bottom: 20px;
  background-color: var(--dracula);
}

.about-image-container {
  display: flex;
  justify-content: center;
}
.about-image{
  width: 450px;
  height: 325px;
  border: 8px solid var(--blue);
  margin-top: 20px;
  margin-bottom: 10px;
  
}

.about-text{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}

/* -------------------- SKILLS ------------------------ */
.skill-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;
}

.skill-card {
  display:flex;
  flex-basis: 30%;
  height: 200px;
  align-items: center;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--teal) !important;
  border-radius: 50% !important;
  border: 8px solid var(--blue) !important;
}

.skill-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.skill-card-text {
  color: var(--cream);
  font-size: 35px !important;
  font-weight: bold;
  text-align: center;
}


/* -------------------- PROJECTS ------------------------ */
.heading-container {
  width: 100%;
  height: 90px;
  background-color: var(--blue);
  border-radius: 5px;
  margin-bottom: 20px;
  border: 10px solid var(--blue);
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  color: var(--cream);
  align-content: center;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  flex-basis: 30%;
  margin-bottom: 2rem;
  background-color: var(--teal) !important;
  border: 8px solid var(--blue) !important;
}

.card:hover {
  box-shadow: -1px 3px 20px var(--blue);
  transition: transform 100ms;
}

.card-image {
  border: 7px solid var(--blue) !important;
}

.card-heading {
  color: var(--cream);
  font-size: 28px !important;
  text-align: center;
}

.card-text {
  color: var(--cream);
  text-align: center; 
}

/* -------------------- CONTACT ------------------------ */
h3 {
  display:flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 30px;
  color: var(--red);
}

h2  {
  display:flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--exodus)
}

.contact-container {
  display: flex;
  justify-content: center;
}

.contact-text {
  color: var(--prunus);
  font-weight: bold !important;
}

.contact-input {
  color: var(--electron);
  background-color: var(--greenish) !important
}

.contact-button {
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: bold !important;
  background-color: var(--yarrow) !important;
  color: var(--cream)
}

.contact-button:hover {
  box-shadow: -1px 3px 20px var(--lemon);
  transition: transform 100ms;
}

/* -------------------- FOOTER ------------------------ */
.icon-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.icon-text {
  margin-top: 20px;
}

.github-icon {
  width: 75px !important;
  height: 75px !important;
  color:var(--blue) !important;
  margin-left: 20px;
  margin-right: 20px;
}

.github-icon:hover {
  color: var(--teal) !important;
  transition: transform 100ms;
}

.linkedin-icon {
  width: 75px !important;
  height: 75px !important;
  color:var(--blue) !important;
  margin-left: 20px;
  margin-right: 20px;
}

.linkedin-icon:hover {
  color: var(--teal) !important;
  transition: transform 100ms;
}


.email-icon {
  width: 75px !important;
  height: 75px !important;
  color:var(--blue) !important;
  margin-left: 20px;
  margin-right: 20px;
}

.email-icon:hover {
  color: var(--teal) !important;
  transition: transform 100ms;
}

